body {
  color: white;
  background-color: black;
  margin: 1rem; /* 16px */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: lightgreen;
  text-align: center;
}

.important-text {
  text-decoration: underline;
  font-weight: bold;
  color: red;
}

.yellow-button {
  cursor: pointer;
  background-color: #99ff99;
  padding: 0.5rem; /* 8px */
  margin-bottom: 1rem; /* 16px */
  border-radius: 0.5rem; /* 8px */
}

.link {
  color: lightgreen;
  text-decoration: none;
}

.mg-bottom {
  margin-bottom: 1rem;
}
