* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111827;
  color: #f3f4f6;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1.5rem;
  max-width: 48rem;
  margin: auto; /* centra orizzontalmente */
}

.header {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #3b82f6;
  margin-bottom: 2rem;
  text-align: center;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  overflow-y: auto;
  flex: 1 1 0%;
  padding-right: 1rem;
}

.message-bubble {
  border-radius: 0.75rem;
  background-color: #1f2937;
  padding: 1.25rem;
}

.user-message {
  background-color: #1e3a8a;
  align-self: flex-end;
}

.loading-message {
  display: flex;
  align-items: center;
}

.error-message {
  background-color: #7f1d1d;
}

.input-and-button {
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.message-input {
  flex-grow: 1;
  background-color: rgb(8, 8, 8);
  color: rgb(240, 240, 240);
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  border: none;
}

.send-button {
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  background-color: #3b82f6;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.send-button:hover {
  background-color: #60a5fa;
}

ul {
  list-style-position: inside;
}

a[href] {
  color: #60a5fa;
}

.loader {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
  margin-right: 1rem;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #3b82f6 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
